{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'iCreate/styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'iCreate/styles/form.css' %}">
    <script defer src="{% static 'iCreate/scripts/script.js' %}"></script>
    <script defer src="{% static 'iCreate/scripts/form.js' %}"></script>
    <title>Recover Password</title>
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'iCreate:index' %}" title="home"
              ><img src="{% static 'iCreate/images/icreate-logo.png' %}" alt=""
            /></a>
          </nav>
    </header>

    <h2>Pasword recovery</h2>
    <div class="form-frame">
        <form action="">
            <ul>
                <li>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required />
                </li>
                <li>
                    <button type="submit">Continue</button>
                </li>
            </ul>
        </form>
    </div>
    <script>
        document.querySelector('form').onsubmit = () => {
            alert('Check your email for reset code');
        }
    </script>
</body>

</html>