* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #194C9A;
    padding: 0px;
    margin: 0;
}

header {
    padding: 0 10px;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1;
    /* border-bottom: 2px solid #151417; */
}

.nav,
.nav>* {
    padding: 0px;
}

.nav,
.nav>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


nav img {
    width: 100px;
}

#nav-btn {
    width: 24px;
    height: 24px;
    background-color: #FFF;
    cursor: pointer;
}

nav button {
    border: none;
}

nav li {
    list-style-type: none;
    margin: 5px;
    font-weight: 700;
}

nav a {
    text-decoration: none;
    color: #113872;
}

.menu-block{
    display: none;
    padding: 0;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 0;
}

a[title="login"]{
    background-color: #2572E7;
    border: 2px solid #2572E7;
    padding: 10px;
    border-radius: 8px;
    color: #ffffff;
    display: inline-block;
}

a[title="sign up"]{
    border: 2px solid #6DB723;
    padding: 10px;
    border-radius: 8px;
    color: #6DB723;
    display: inline-block;
}

footer {
    color: #ffffff;
    background-color: RGBA(0, 0, 0, .8);
    padding: 20px;
    font-size: .95em;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
    margin: 20px 0;
}

footer>ul>li::first-line {
    font-weight: 700;
}

/*  */
.x-hidden {
    display: none;
}


/* Landing page */

#landing-page section:nth-child(even) {
    background-color: #D3E3FA;
}

.sect-1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sect-1 .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 10px;
    text-align: center;
}

.sect-1 .container>div {
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(37, 114, 231, 0.25);
    padding: 10px;
    border: 1px solid rgba(37, 114, 231, 0.25);
}

.sect-1 .container>div img {
    height: 40px;
    margin: 0 30px;
}

.sect-1 .container>div p:nth-of-type(1) {
    font-weight: 400;
    font-size: 20px;
}

.sect-1 .container>div p:nth-of-type(2) {
    font-weight: 700;
    font-size: 16px;
}

.sect-1 h2 {
    font-weight: 400;
    font-size: 32px;
    color: #1F5FC1;
}

.sect-1>div:nth-child(1)>p:nth-of-type(1) {
    font-size: 24px;
    color: #3F3F41;
}

.sect-1>div:nth-child(1)>p:nth-of-type(2) {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #3F3F41;
}

.sect-1>div:nth-child(1)>* {
    margin-bottom: 50px;
}

.blue.btn {
    background: #2572E7;
    border: none;
    color: #ffffff;
}

.white.btn {
    background: transparent;
    border: 1px solid #2572E7;
    color: #2572E7;
}

.btn {
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;
}

.blue.btn:hover {
    background: #113872;
}

.white.btn:hover {
    background: #2573e733;
}

.sect-1>div:first-child {
    text-align: center;
}

.sect-2 img {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.sect-2 {
    display: flex;
    flex-direction: column;
}

.sect-2>*,
.sect-3>* {
    width: 100%;
}

.sect-2>.container,
.sect-3>.container {
    padding: 200px 20px;
    text-align: center;
}

.sect-2>.container h2 {
    font-size: 32px;
}

.sect-2 .container p:nth-of-type(1) {
    color: #19181B;
    font-size: 48px;
}

.sect-2 .container p:nth-of-type(2) {
    color: #19181B;
    font-size: 20px;
    font-weight: 700;
}

.sect-2>.container>*,
.sect-3>.container>* {
    margin: 30px 0;
}

.sect-3 {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    align-items: center;
}

.sect-3 div:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.sect-3 div:nth-of-type(1) img {
    width: 100%;
}

.sect-3>* {
    margin: 10px;
    width: 100%;
}

.sect-3>.container h2 {
    font-size: 20px;
    color: #19181B;
}

.sect-3 .container p:nth-of-type(1) {
    color: #194C9A;
    font-size: 32px;
}

.sect-3 .container p:nth-of-type(2) {
    color: #19181B;
    font-size: 20px;
}

.sect-4 {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 60px;
    gap: 50px;
    text-align: center;
}

.sect-4 img {
    width: 100%;
}

.sect-4 img[alt="3-dots"] {
    position: absolute;
    bottom: 20px;
    width: 92px;
    left: calc(50% - 92px/2);
}

.sect-4>div:nth-of-type(1) h2 {
    font-size: 32px;
    color: #151417;
    font-weight: 400;
    text-align: center;
}

.sect-4>div:nth-of-type(1)>div>p:nth-of-type(1) {
    font-size: 28px;
}

.sect-4>div:nth-of-type(1)>div>p:nth-of-type(2) {
    font-size: 20px;
    color: #151417;
}

.sect-4>div:nth-of-type(2)>div>h2 {
    font-size: 32px;
    font-weight: 400;
}

.sect-4>div:nth-of-type(2)>div>p:nth-of-type(1) {
    color: #151417;
    font-size: 40px;
}

.sect-4>div:nth-of-type(2)>div>p:nth-of-type(2),
.sect-4>div:nth-of-type(2)>div:nth-of-type(2)>p:nth-of-type(1) {
    color: #151417;
    font-size: 20px;
}

.sect-4>div:nth-of-type(2)>div:nth-of-type(2) {
    margin-top: 50px;
}

.sect-5 {
    margin-bottom: 100px;
    text-align: center;
}

.sect-5>div>div {
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

.sect-5>div>div>div {
    width: 80%;
}

.sect-5>div>div>div:nth-of-type(1) img {
    width: 100%;
    height: 100%;
    min-height: 300px;
    max-width: 700px;
}

.flex0 {
    text-align: center;
}

.sect-5>div>p,
.sect-5>div>form {
    text-align: center;
}

.sect-5>div>p {
    color: #151417;
}

.sect-5>div>form {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}

.sect-5>div>form>input {
    border: 1px solid #2572E7;
    padding: 10px;
    border-radius: 5px;
    width: 60%;
}

.sect-5>div>form>button {
    border: 1px solid #113872;
    padding: 10px;
    border-radius: 5px;
    background-color: #113872;
    color: #ffffff;
    width: 30%;
}

.sect-5>div>form>button:hover {
    border: 1px solid #113872ce;
    background-color: #113872ce;
}

.sect-5>div>div>div:nth-of-type(2) h2 {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

.sect-5>div>div>div:nth-of-type(2) p:nth-of-type(1) {
    font-weight: 700;
    font-size: 40px;
    color: #19181B;
}

.sect-5>div>div>div:nth-of-type(2) p:nth-of-type(2) {
    font-size: 20px;
}

#footer-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social {
    display: flex;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    justify-content: center;
    gap: 20px;
}

.social img {
    height: 25px;
    width: 25px;
}

.social select {
    height: 25px;
    width: 100px;
    border-radius: 8px;
}

.social>div {
    display: flex;
}

.social>div>a {
    display: block;
}

footer p {
    text-align: center;
}

button:active {
    box-shadow: 1px 1px 5px darkslategrey;
}

/* Larger screen */

@media (min-width: 640px) {
    .x-hidden {
        display: block;
    }

    .y-hidden {
        display: none;
    }

    .menu-block{
        display: none;
    }

    .sect-1 {
        flex-direction: row;
        gap: 100px;
    }

    .sect-1>div:first-child {
        text-align: left;
    }

    .sect-1 .container {
        grid-template-columns: 1fr 1fr;
        padding: 0;
    }

    .sect-2 {
        flex-direction: row;
    }

    .sect-2>* {
        width: 50%;
    }

    .sect-3 {
        flex-direction: row;
    }

    .sect-3>* {
        margin: 30px;
        width: 50%;
    }

    .sect-4 {
        flex-direction: row;
        padding: 60px;
        gap: 50px;
        text-align: unset;
    }

    .sect-5>div>div {
        flex-direction: row;
    }

    .sect-5>div>div>div {
        width: 45%;
    }

    #footer-items {
        flex-direction: row;
    }
}